profanityfilter
numpy==1.19.3
torch
transformers==2.3.0
discord-py[voice]
google-cloud-texttospeech
azure-cognitiveservices-speech
python-slugify
https://github.com/finetuneanon/transformers/archive/refs/heads/gpt-neo-dungeon-localattention1.zip
